public/pagina.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos </title>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Estrategias de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos"/>
    <meta property="og:title" content="ComunícaT | Comunicación integral, organización de eventos corporativos y espectáculos"/>
    <meta property="og:description" content="Estrategías de comunicación, diseño gráfico, producción audiovisual. Planificación de eventos, lanzamientos, convenciones, seminarios, talleres, presentaciones, inauguraciones, ferias, exposiciones y show romos. Organización de almuerzos, cenas, vinos de honor. Asesoramiento de eventos culturales. Producción de espectáculos y shows artísticos"/>
    <meta name="author" content="Lic. Sandra Delgadillo Pacheco | Directora General"/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/styles.css?v1.0.5"/>
  </head>
  <body>
    <div class="poppup_slider" id="comunicat">
      <header class="header" id="header">
        <nav class="header__top"></nav>
        <nav>
          <div class="header__content comunicat">
            <div class="header__logo"><img src="images/comunicaT.png" alt=""/></div>
            <div class="header__menu_movil">
              <ul class="header__social_movil social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-twitter"></i></a></li>
              </ul><a class="button full button--movil" href="javascript:void(0)" @click="toggleMenu()">MENÚ</a>
            </div>
            <div class="header__menu" :class="toggle ? 'header__menu_toggle' : ''">
              <ul class="header__social social">
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-facebook"> </i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-youtube"></i></a></li>
                <li class="header__social_item social__icon"><a class="header__social_link" href="" target="_black"><i class="icon-twitter"></i></a></li>
              </ul>
              <div class="header__inicio"><a class="button--ghost" v-for="item in menuinicio" v-text="item.title" :href="baseUrl + '#' + item.href" @click="toggle = false"></a></div>
              <div class="header__list"><a :class="'button' + item.color" v-for="item in mainmenu" :href="baseUrl + '#' + item.href" v-text="item.title" @click="toggle = false"> </a></div>
            </div>
          </div>
        </nav>
      </header>
      <div class="comunicat main__content_text">
        <article class="comunicat aarticle" v-show="true">
          <div class="gallery">
            <h2 class="main__title_2"> <span>Asesoramiento integral de eventos culturales </span></h2>
            <p> <b>ComunicaT</b>, empresa de Comunicación integral y Organización de eventos y espectáculos culturales (Asesoramiento, diseño, planificación y producción)</p>
            <div class="gallery__content"><a class="gallery__link mediabox" href="https://www.youtube.com/watch?v=zxRJOgxu6-U"><img class="gallery__img" :src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'" alt=""/><span><i class="icon-play"></i></span></a>
              <div>
                <p class="gallery__title">Texto de imagen</p>
              </div>
            </div>
            <div class="gallery__content"><a class="gallery__link mediabox" href="https://www.youtube.com/watch?v=AK_fsgjoVYk"><img class="gallery__img" :src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'" alt=""/><span><i class="icon-play"></i></span></a>
              <div> 
                <p class="gallery__title">Texto de imagen</p>
              </div>
            </div>
            <div class="gallery__content"><a class="gallery__link" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-zoom"></i></span></a>
              <div>
                <p class="gallery__title">Titulo</p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <main>
        <div class="comunicat">
          <h2 class="main__title" v-text="mainmenu[2].title"></h2>
        </div>
        <div class="comunicat main"><a class="button--ghost--tertiary button--acordion" :class="mainmenu[2].submenu[0].state ? 'button--acordion_active' : ''" href="#organizacion-de-espectaculos" v-text="mainmenu[2].submenu[0].title"></a>
          <transition name="acordion">
            <article class="comunicat article" v-show="true">
              <div class="article__content gallery">
                <div class="gallery__content"><a class="gallery__link mediabox" href="https://www.youtube.com/watch?v=zxRJOgxu6-U"><img class="gallery__img" :src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'" alt=""/><span><i class="icon-play"></i></span></a>
                  <div>
                    <p class="gallery__title">Texto de imagen</p>
                  </div>
                </div>
                <div class="gallery__content"><a class="gallery__link mediabox" href="https://www.youtube.com/watch?v=AK_fsgjoVYk"><img class="gallery__img" :src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'" alt=""/><span><i class="icon-play"></i></span></a>
                  <div> 
                    <p class="gallery__title">Texto de imagen</p>
                  </div>
                </div>
                <div class="gallery__content"><a class="gallery__link" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-zoom"></i></span></a>
                  <div>
                    <p class="gallery__title">Titulo</p>
                  </div>
                </div>
                <div class="gallery__content"><a class="gallery__link" href="javascript:void(0)"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-pictures"></i></span></a>
                  <div>
                    <p class="gallery__title">Titulo</p><a class="gallery__link button--secondary" href="javascript:void(0)">Ver más</a>
                  </div>
                </div>
                <div class="gallery__content"><a data-modal-open="data-modal-open" href="#modal-3">Modal 1</a>
                  <div class="modal-hider" id="modal-3" style="display:none;">Modal 1 content</div>
                </div>
                <div class="gallery__content"><a data-modal-open="data-modal-open" href="#modal-2">Modal 2</a>
                  <div class="modal-hider" id="modal-2" style="display:none;">Modal 1 content</div>
                </div>
                <div class="gallery__content"><a class="gallery__link" href="images/eventos-corporativos.jpg" data-caption="&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;&lt;p&gt;PRUEBA DE TEXTO 1&lt;/p&gt;"><img class="gallery__img" src="images/eventos-corporativos.jpg" alt=""/><span><i class="icon-zoom"></i></span></a>
                  <div>
                    <p class="gallery__title">Titulo</p>
                  </div>
                </div>
              </div>
            </article>
          </transition>
        </div>
      </main>
      <main class="main main--first" :id="menuinicio[2].href">
        <div class="comunicat form">
          <h2>Contáctenos</h2>
        </div>
        <form class="comunicat form" v-on:submit.prevent="submitForm">
          <div class="col30 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0">
            <div class="item">
              <label class="form__label" for="">Nombre completo: </label>
              <input class="form__input" v-model="vue.nombre" type="text" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Teléfono: </label>
              <input class="form__input" v-model="vue.telefono" type="number"/>
            </div>
            <div class="item">
              <label class="form__label" for="">Celular: </label>
              <input class="form__input" v-model="vue.movil" type="number" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Dirección: </label>
              <input class="form__input" v-model="vue.direccion" type="text" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Ciudad: </label>
              <input class="form__input" v-model="vue.ciudad" type="text" required=""/>
            </div>
          </div>
          <div class="col30 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0">
            <div class="item">
              <label class="form__label" for="">Email: </label>
              <input class="form__input" v-model="vue.email" type="email" required=""/>
            </div>
            <div class="item">
              <label class="form__label" for="">Mensaje: </label>
              <textarea class="form__input" v-model="vue.mensaje" name="" cols="30" rows="10" required=""> </textarea>
            </div>
            <div class="form_buttons flex--center"> 
              <button class="button--ghost--secondary" type="submit">Enviar</button>
              <button class="button--ghost--secondary" v-on:click="clearForm()">Limpiar</button>
            </div>
            <div class="statusMessage" v-if="formSubmitted">
              <h4 v-text="vue.envio"></h4>
            </div>
          </div>
        </form>
        <div class="comunicat flex--center">
          <div class="col100 flex--center">
            <p> <b>COMUNICAT BOLIVIA: </b>La Paz, Z. Los Pinos, calle 25</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p> <b>Telf: </b>2772966, &nbsp;<b>Cel:</b>&nbsp;&nbsp;<span class="whatsapp">78977722</span></p>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="comunicat footer__content">
          <div class="footer__item">
            <p> </p>Todos los Derechos Reservados ®
            	&nbsp;&nbsp;COMUNICAT ©<span id="currentDate"> </span>
          </div>
          <div class="footer__item"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.5"></script>
  </body>
</html>

dev/pug/pages/pagina.pug
extends ../includes/template.pug
block content
  .comunicat.main__content_text
    article.comunicat.aarticle(v-show="true")
      .gallery
        h2.main__title_2 
          span Asesoramiento integral de eventos culturales 
        p 
          b ComunicaT
          | , empresa de Comunicación integral y Organización de eventos y espectáculos culturales (Asesoramiento, diseño, planificación y producción)
        .gallery__content
          a.gallery__link(href="https://www.youtube.com/watch?v=zxRJOgxu6-U" class="mediabox")
            img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'", alt="")
            span: i.icon-play
          div
            p.gallery__title Texto de imagen
        .gallery__content
          a.gallery__link(href="https://www.youtube.com/watch?v=AK_fsgjoVYk" class="mediabox")
            img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'", alt="")
            span: i.icon-play
          div  
            p.gallery__title Texto de imagen
        .gallery__content
          a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p>")
            img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
            span: i.icon-zoom
          div
            p.gallery__title Titulo
  //- main.main
    include ../includes/slider.pug
  //- main
    .comunicat.main(:id="menuinicio[1].href")
      include ../includes/nosotros.pug  
      hr
  //- main
    .comunicat.main
      include ../includes/servicios-cards.pug  
      hr
  //- main
    .comunicat.main(:id="mainmenu[0].href")
      include ../includes/comunicacion-integral.pug
      hr
  //- main
    .comunicat.main(:id="mainmenu[1].href")
      include ../includes/organizacion-de-eventos-corporativos.pug
      hr
  main
    .comunicat
      h2.main__title(v-text="mainmenu[2].title")
    .comunicat.main
      a.button--ghost--tertiary.button--acordion(:class="mainmenu[2].submenu[0].state ? 'button--acordion_active' : ''", href="#organizacion-de-espectaculos", v-text="mainmenu[2].submenu[0].title")
      transition(name="acordion")
        article.comunicat.article(v-show="true")
          .article__content.gallery
            .gallery__content
              a.gallery__link(href="https://www.youtube.com/watch?v=zxRJOgxu6-U" class="mediabox")
                img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=zxRJOgxu6-U') +'/sddefault.jpg'", alt="")
                span: i.icon-play
              div
                p.gallery__title Texto de imagen
            .gallery__content
              a.gallery__link(href="https://www.youtube.com/watch?v=AK_fsgjoVYk" class="mediabox")
                img.gallery__img(:src="'https://img.youtube.com/vi/'+ idYoutube('https://www.youtube.com/watch?v=AK_fsgjoVYk') +'/sddefault.jpg'", alt="")
                span: i.icon-play
              div  
                p.gallery__title Texto de imagen
            .gallery__content
              a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p>")
                img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
                span: i.icon-zoom
              div
                p.gallery__title Titulo
            .gallery__content
              a.gallery__link(href="javascript:void(0)")
                img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
                span: i.icon-pictures
              div
                p.gallery__title Titulo
                a.gallery__link(href="javascript:void(0)" ).button--secondary Ver más
            .gallery__content
              a(data-modal-open href="#modal-3") Modal 1
              #modal-3.modal-hider(style="display:none;") Modal 1 content
            .gallery__content
              a(data-modal-open href="#modal-2") Modal 2
              #modal-2.modal-hider(style="display:none;") Modal 1 content
            .gallery__content
              a.gallery__link(href="images/eventos-corporativos.jpg", data-caption="<p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p><p>PRUEBA DE TEXTO 1</p>")
                img.gallery__img(src="images/eventos-corporativos.jpg", alt="")
                span: i.icon-zoom
              div
                p.gallery__title Titulo
